.l-contact__line {
  border-bottom: 1px solid #e3e3e3;
  margin: 100px 0;
}

@media screen and (min-width: 1126px) { /* pc用スタイル */
  .l-contact {
    width: 1000px;
    margin: 100px auto 0 auto;
  }
}
@media screen and (min-width: 796px) and (max-width: 1125px) { /* pc用スタイル */
  .l-contact {
    width: 800px;
    margin: 100px auto 0 auto;
  }
}
@media screen and (max-width: 795px) { /* sp用スタイル */
  .l-contact {
    padding: 0px 7% 0 7%;
    margin-top: 100px;
  }
}