.l-header {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: solid 1px gray;
}
@media screen and (min-width: 1126px) { /* pc用スタイル */
  .l-header {
    height: 100px;
    padding: 0 80px;
  }
}
@media screen and (min-width: 796px) and (max-width: 1125px) { /* pc用スタイル */
  .l-header {
    height: 70px;
    padding: 0 60px;
  }
}
@media screen and (max-width: 795px) { /* sp用スタイル */
  .l-header {
    padding: 2% 7%;
  }
}