.p-hero {
  position: relative;
  width: 100%;
}
.p-hero::before {
  position: absolute;
  display: block;
}
.p-hero::after {
  display: block;
  content: "";
  background-image: url(../../../images/common/img-4.jpeg);
  z-index: 10;
}
.p-hero__title > dt {
  font-weight: 700;
}

@media screen and (min-width: 796px)  {
  /* pc用スタイル */
  .p-hero::before {
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
  .p-hero::after {
    height: 100vh;
    background-size: cover;
    background-position: center center;
  }
  .p-hero__title {
    position: absolute;
    top: 37%;
    left: 3%;
    color: #fff;
    width: 58%;
  }
  .p-hero__title > dt {
    font-size: 45px;
  }
  .p-hero__title > dd {
    margin-top: 10px;
    font-size: 18px;
  }
  .p-hero__br {
    display: inline-block;
  }
}
@media screen and (max-width: 795px) {
  /* sp用スタイル */
  .p-hero::before {
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
  .p-hero::after {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
  }
  .p-hero__title {
    position: absolute;
    margin-top: 32%;
    top: 0%;
    left: 10%;
    color: #fff;
    width: 80%;
  }
  .p-hero__title > dt {
    font-size: 30px;
  }
  .p-hero__title > dd {
    margin-top: 20px;
    font-size: 15px;
  }
}
